div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.record {
  background: firebrick;
  border: 2px solid darkred;

  &:hover {
    background: maroon;
  }
}

img {
  width: 100%;
  height: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 2px 1px 10px dimgray;
  padding: 10px;

  &:hover {
   background: aliceblue;
  }
}

textarea {
  font-size: 25px;
  resize: none;
  box-shadow: 2px 1px 10px dimgray;
}

.stop {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
}

.container {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wave {
  position: absolute;
  z-index: -1;
  background: white;
  border-radius: 50%;
  border: 2px solid darkred;
}

@media screen and (max-width: 400px) {
  textarea {
    width: 300px;
    height: 300px;
  }
}
