div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.record {
  background: red;
  border: 2px solid darkred;
  opacity: 0.7;

  &:hover {
    opacity: 0.8;
  }
}
img {
  width: 100%;
  height: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 2px 1px 10px dimgray;
  padding: 10px;

  &:hover {
    opacity: 0.9;
  }
}

textarea {
  font-size: 25px;
  resize: none;
  box-shadow: 2px 1px 10px dimgray;
}

.stop {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  border: 2px solid darkred;
  animation-duration: 1.5s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slide {
  from {
    width: 59px;
    height: 59px;
  }

  to {
    height: 80px;
    width: 80px;
  }
}
